{% extends "base.html" %}
{% block title %}{{ page.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/xinbang/css/contact.css">
{% endblock %}
{% block content %}
<!-- bannerBar begin -->
<section>
    <div id="bannerBar">
    	<img src="{{ page.banner.url }}" width="100%">
    </div>
</section>
<!-- bannerBar end -->

<!-- content begin -->
<section>
    <div id="content">
        <div class="titleBar">
             <div class="breadCrumb">
                <a href="/" target="_self">首页</a>
                &gt;
                <a href="{{ menu.get_root.url }}" target="_self">{{ menu.get_root.name }}</a>
                &gt;
                <a href="{{ menu.name.url }}" target="_self">{{ menu.name }}</a>
            </div>
            <ul class="tabBar">
            	{% for m in menu.get_root.get_children reversed  %}
                <li data="{{ m.id }}">
                    <a href="{{ m.url }}" target="_self" data="{{ m.id }}">{{ m.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- contact begin -->
        <div class="contactCon">
            <div class="left">
        	   <img src="/static/xinbang/images/map.png" width="480px">
            </div>
        	<div class="right">
                <div class = "row">
            		<p>联系电话</p>
                    <p>0577-88853572</p>
                </div>
                <div class= "row">
                    <p>公司地址</p>
                    <p>浙江省温州市双屿街道鞋都三期鹿城总部经济基地B06</p>
                </div>
        	</div>
        </div>
        <!-- contact end -->
    </div>
</section>
<!-- content end -->
{% endblock %}