{% extends "base.html" %}
{% block title %}文章详情{% endblock %}
{% block content %}
    <section>
        <div id="bannerBar">
        	<img src="/static/xinbang/images/title.png" width="100%">
        </div>
    </section>
     <section>
        <div id="content">
            <div class="titleBar">
                <div class="breadCrumb">
                    <a href="index.html" target="_self">首页</a>
                    &gt;
                    <a href="index.html" target="_self">{{ menu.get_root.name }}</a>
                    &gt;
                    <a href="#" target="_self">{{ menu.name }}</a>
                </div>
                <ul class="tabBar">
                    {% for m in menu.get_root.get_children reversed  %}
                    <li data="{{ m.id }}">
                        <a href="{{ m.url }}" target="_self">{{ m.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="post">
            	<h3 class="title">{{ post.title }}</h3>
            	<p class="author">作者： {{ post.author }}&nbsp;&nbsp;发布时间：{{ post.pub_date|date:"Y-m-d" }}</p>
            	<div class="postCon">
            		{{ post.content|safe }}
            	</div>
	            <div class="panel">
	            	<p>
	            		<label>上一篇: </label>
	            		{% if prev_p %}
	            		<a href="/post/{{ prev_p.id }}/">{{ prev_p.title }}</a>
	            		{% else %}
	            		<a>无</a>
	            		{% endif %}
	            	</p>
	            	<p>
	            		<label>下一篇: </label>
	            		{% if next_p %}
	            		<a href="/post/{{ next_p.id }}/">{{ next_p.title }}</a>
	            		{% else %}
	            		<a>无</a>
	            		{% endif %}	            		
	            	</p>
	            </div>
            </div>
        </div>
    </section>
{% endblock %}