{% extends "base.html" %}
{% block title %}{{ page.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/xinbang/css/idea.css">
{% endblock %}
{% block content %}
<!-- bannerBar begin -->
<section>
    <div id="bannerBar">
    	<img src="{{ page.banner.url }}" width="100%">
    </div>
</section>
<!-- bannerBar end -->

<!-- content begin -->
<section class="has-bg">
    <div id="content">
        <div class="titleBar">
             <div class="breadCrumb">
                <a href="/" target="_self">首页</a>
                &gt;
                <a href="{{ menu.get_root.url }}" target="_self">{{ menu.get_root.name }}</a>
                &gt;
                <a href="{{ menu.name.url }}" target="_self">{{ menu.name }}</a>
            </div>
            <ul class="tabBar">
            	{% for m in menu.get_root.get_children reversed  %}
                <li data="{{ m.id }}">
                    <a href="{{ m.url }}" target="_self" data="{{ m.id }}">{{ m.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- idea begin -->
        <div class="ideaCon">
        	<img src="/static/xinbang/images/linian1.png">
        	<div class="text">
        		{{ page.content|safe }}
        	</div>
        </div>
        <!-- idea end -->
    </div>
</section>
<!-- content end -->
{% endblock %}