{% extends "base.html" %}
{% block title %}浙江新邦集团控股有限公司{% endblock %}
{% block css %}
<style>
.slider { position: relative; overflow: auto; }
.slider li { list-style: none; }
.slider ul li { float: left; }
.slider ul li img { display: block; margin: 0 auto; }
.dots {
  position: absolute;
  bottom: 5px;
  left: 45%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  width:200px;
  height:20px;
  z-index: 1024;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  text-indent: -999em;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  opacity: .4
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}
</style>
{% endblock %}
{% block content %}

<div class="index">
	<section>
		<div class="slider has-dots">
			<ul>
				<li><img src = "/static/xinbang/images/banner.jpg"/></li>
				<li><img src = "/static/xinbang/images/banner.jpg"/></li>
				<li><img src = "/static/xinbang/images/banner.jpg"/></li>
				<li><img src = "/static/xinbang/images/banner.jpg"/></li>
			<ul>
		</div>
	</section>
	<section>
		<div id="row1">
			<div class="cat" id = "col-1">
				<div class="titleBar">
					<span>新闻快讯</span>
					<a href="#">查看全部 ></a>
				</div>
				<ul>
					{% for p in xwkx %}
					<li>
						{% if p.cover %}
						<img src="{{ p.cover.url }}" width = "170px" height="120px" >
						{% else %}
						<img src="http://placehold.it/170x120" />
						{% endif %}
						<div>
							<p>2014-05-06</p>
							<a href="/post/{{ p.id }}">{{ p.title }}</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div id ="col-2">
				<img src="/static/xinbang/images/chanye.jpg" width = "450px" height="400">
			</div>
		</div>
	</section>
	<section>
		<div id="row2">
			<div class="cat" id = "col3">
				<div class="titleBar">
					<span>最新公告</span>
					<a href="#">查看全部 ></a>
				</div>
				<ul>
					{% for p in zxgg %}
					<li>
						<a href="#">{{ p.title }}</a>
						<span>{{ p.pub_date|date:"Y-m-d" }}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div id = "col-4">
				<div class="title">
					曝光台
				</div>
				<ul>
					{% for m in messages %}
					<li>
						{{ m.content }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section>
		<div id = "row3">
			<div id="col-5">
				<div>
					<img src="/static/xinbang/images/jingpin.jpg">
					<div class="titleBar">
						<span>精品工程</span>
						<a href="#">更多 ></a>
					</div>
				</div>
				<div>
					<img src="/static/xinbang/images/gongyi.jpg">
					<div class="titleBar">
						<span>公益事业</span>
						<a href="#">更多 ></a>
					</div>
				</div>
			</div>
			<div id="col-6">
				<ul>
					<span>浙江新邦集团控股有限公司 祝：</span>
					{% for p in persons %}
					<li>
						{{ p.name }}
					</li>
					{% endfor %}
					<span style="color:red;">生日快乐！身体健康！工作顺利！</span>
				</ul>
			</div>
		</div>
	</section>
</div>
{% endblock %}
{% block js %}
<script src="/static/xinbang/js/unslider.min.js"></script>
<script>
	$(".navBar>li:last-child").addClass("active");	
	$(function() {
	$('.slider').unslider({
	  speed: 300,               //  The speed to animate each slide (in milliseconds)
	  delay: 5000,              //  The delay between slide animations (in milliseconds)
	  complete: function() {},  //  A function that gets called after every slide animation
	  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
	  dots: true,               //  Display dot navigation
	  fluid: false              //  Support responsive design. May break non-responsive designs
	});
	});
</script>
{% endblock %}