{% extends "base.html" %}
{% block title %}浙江新邦集团控股有限公司{% endblock %}
{% block css %}
<style>
    .sliderBox{
        height: 422px;
        position: relative;
        margin: 0 auto;
    }
    .slider { position: relative; overflow: auto; border-bottom: #eeeeee 1px solid;}
    .slider li { list-style: none; }
    .slider ul li { float: left; }
    .slider ul li img { display: block; margin: 0 auto; }
    #controls {
      position: absolute;
      bottom: 0;
      left: 45%;
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      width:200px;
      height:8px;
      z-index: 1024;
    }

    #controls ol.controls {
        margin: 0;
        padding: 0;
        line-height: 8px;
        height: 8px;
        font-size: 0;
        list-style-type: none;
    }

    .controls li {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 8px;
        text-indent: -999em;
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
        background-color: #FFF;
        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        transition: background .5s, opacity .5s;
    }

    .controls li.current {
        background: #000;
        opacity: 1;
    }
</style>
{% endblock %}
{% block content %}

<div class="index">
	<section>
        <div class="sliderBox">
            <div class="slider has-dots" id="slider" style="width: 100%; height: 400px; overflow: hidden; margin: 0 auto;">
                <ul style="position: relative;">
                    <li style="float: left; width: 1920px;"><img src="/static/xinbang/images/banner1.jpg"></li>
                    <li style="float: left; width: 1920px;"><img src="/static/xinbang/images/banner2.jpg"></li>
                    <li style="float: left; width: 1920px;"><img src="/static/xinbang/images/banner3.jpg"></li>

                </ul>
            </div>
        </div>
	</section>
	<section>
		<div id="row1">
			<div class="cat" id = "col-1">
				<div class="titleBar">
					<span>新闻快讯</span>
					<a href="/category/2/">查看全部 ></a>
				</div>
				<ul>
					{% for p in xwkx %}
					<li>
                        <div class="cover">
						{% if p.cover %}
						<a href="/post/{{ p.id }}"><img src="{{ p.cover.url }}" width = "170px" height="125px" ></a>
						{% else %}
						<img src="http://placehold.it/170x120" />
						{% endif %}
                        </div>
						<div>
							<p>{{ p.pub_date|date:"Y-m-d" }}</p>
							<a href="/post/{{ p.id }}">{{ p.title|truncatechars:30 }}</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
            <div id="col-2">
                <a href="/page/3/?target=part2" class="btn_1" title="温州新邦置业有限公司"></a>
                <a href="/page/3/?target=part1" class="btn_2" title="浙江新邦建设有限公司"></a>
                <a href="/page/3/?target=part8" class="btn_3" title="温州华邦混凝土有限公司"></a>
                <a href="/page/3/?target=part7" class="btn_4" title="浙江弘邦建材有限公司"></a>
                <a href="/page/3/?target=part5" class="btn_5" title="温州新邦文化产业有限公司"></a>
                <a href="/page/3/?target=part4" class="btn_6" title="温州尚利建材有限公司"></a>
                <a href="http://www.charunwater.com/index.asp" target = "_blank" class="btn_7" title="温州创源水务有限公司"></a>
                <a href="/page/3/?target=part6" class="btn_8" title="温州新邦运输有限公司"></a>
            </div>
		</div>
	</section>
	<section>
		<div id="row2">
			<div class="cat" id = "col3">
				<div class="titleBar">
					<span>最新公告</span>
					<a href="/category/4/">查看全部 ></a>
				</div>
				<ul>
					{% for p in zxgg %}
					<li>
						<a href="#">{{ p.title|truncatechars:25 }}</a>
						<span>{{ p.pub_date|date:"Y-m-d" }}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div id = "col-4">
				<div class="title">
					曝光台
				</div>
				<ul>
					{% for m in messages %}
					<li>
						{{ m.content|truncatechars:60 }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section>
		<div id = "row3">
			<div id="col-5">
                <div>
                    <div class="imgBox">
                         <a href="/category/8/"><img src="/static/xinbang/images/pic_gongcheng.png"></a>
                    </div>
                    <div class="titleBar">
                         <a href="/category/8/"><span>精品工程</span></a>
                        <a href="/category/8/">更多 ></a>
                    </div>
                </div>
                <div>
                    <div class="imgBox">
                        <a href="/category/6/"><img src="/static/xinbang/images/pic_gongyi.png"></a>
                    </div>
                    <div class="titleBar">
                        <a href="/category/6/"><span>公益事业</span></a>
                        <a href="/category/6/">更多 ></a>
                    </div>
                </div>
			</div>
			<div id="col-6">
				<ul>
					<span>浙江新邦集团控股有限公司 祝：</span>
					{% for p in persons %}
					<li>
						{{ p.name }}
					</li>
					{% endfor %}
					<span style="color:red; font-size:24px; margin-left:30px;">本周生日快乐!</span>
				</ul>
			</div>
		</div>
	</section>
</div>
{% endblock %}
{% block js %}
<script src="/static/xinbang/js/sudoSlider.min.js"></script>
<script>
    $(document).ready(function(){
        var sudoSlider = $("#slider").sudoSlider({
            numeric: true,
            effect: "slide",
            speed : 1000,
            auto : true,
            prevNext: false
        });

        //bindEvent

        $("#slider")
                .on("mouseover", function () {
                    sudoSlider.stopAuto();
                })
                .on("mouseleave", function () {
                    sudoSlider.startAuto();
                });
    });
</script>
{% endblock %}