{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/xinbang/css/industry.css">
{% endblock %}
{% block content %}

<!-- bannerBar begin -->
<section>
    <div id="bannerBar">
    	<img src="{{ page.banner.url }}" width="100%">
    </div>
</section>
<!-- bannerBar end -->

<!-- content begin -->
<section>
    <div id="content">
        <div class="titleBar">
             <div class="breadCrumb">
                <a href="/" target="_self">首页</a>
                &gt;
                <a href="{{ menu.get_root.url }}" target="_self">{{ menu.get_root.name }}</a>
                &gt;
                <a href="{{ menu.name.url }}" target="_self">{{ menu.name }}</a>
            </div>
            <ul class="tabBar">
            	{% for m in menu.get_root.get_children reversed  %}
                <li data="{{ m.id }}">
                    <a href="{{ m.url }}" target="_self" data="{{ m.id }}">{{ m.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- industry begin -->
        <div class="intrCon clearfix">
            <ul class="swithBar j_ChangeDetail">
                <li data-target="#part1">
                    <div class="title">浙江新邦建设股份有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part2">
                    <div class="title">温州新邦置业有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part3">
                    <div class="title">温州创源水务有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part4">
                    <div class="title">温州尚利建材有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part5">
                    <div class="title">温州新邦文化产业有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part6">
                    <div class="title">温州新邦运输有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part7">
                    <div class="title">温州弘邦建材科技有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part8">
                    <div class="title">温州华邦混凝土有限公司</div>
                    <div class="arrow"></div>
                </li>
            </ul>
            <div class="detail">
                <div id="part1" class="detailCon" style="display: block">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设股份有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part2" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_zhiye.png">
                    </div>
                    <div class="textCon">
                        <p>温州新邦置业有限公司是一家具有综合开发、代建资质的房地产企业，参与开发产品涵盖商业写字楼、酒店式公寓、高端住宅等不同类型。其中：相继参与开发了天瑞尚城、温莎国际公寓、塘下总府壹号、富阳铂金湾等一批优质经典楼盘。负责代建管理的项目有瓯海区娄桥街道玕东村安置房工程、鹿城区上戍乡安置点工程、苍南县龙港镇下涝村村民安置房、龙湾区海滨街道蟾钟村安居工程、瑞安市塘下镇新前村旧村改建项目等，累计代建面积达60多万平方米。</p>
                    </div>
                </div>
                <div id="part3" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_chuangyuan.png">
                    </div>
                    <div class="textCon">
                        <p>温州市创源水务有限公司成立于2008年12月，注册资本5200万元，主要股东是浙江新邦控股集团有限公司。</p>
                        <p>公司主要从事城镇污水收集、处理、排放设施的建设、管理、运营、维护，提供污水处理服务、给排水工程设施咨询、设计、施工及给排水设施供给、安装、运营、技术服务和水处理技术研究、开发、利用。</p>
                        <p>公司于2008年12月中标温州市政府（西片污水处理厂）BOT 特许经营权项目。该项目占地面积70.6亩，设计处理能力为25万m3 /d，分两期建设，其中一期工程设计处理能力为10万m3 /d，建设期为2年，运营期为26年；二期工程设计处理能力为15万m3 /d。主体工艺引进奥地利循环活性污泥法（CAST）专利技术，出水水质达到《城镇污水处理厂污染物排放标准》一级B标准，单位面积污水处理能力为全国首例。项目主要服务范围包括温州市三溪五镇和双屿、仰义、西郊等地区，共七个污水系统，服务面积达50平方公里，服务人口近70万。</p>
                        <p>公司持有《浙江省排污许可证》，先后通过ISO9001：2008质量体系认证、ISO14001：2004环境管理体系认证和GB/T28001—2011职业健康安全管理体系认证等，并被列为温州市污水处理科普教育基地。</p>
                        <p>公司以“净化城市，保护环境”为企业使命，永远秉承“质量为本，技术领先，管理科学，服务专业”的经营方针和“规范、安全、高效、创新”的企业精神，为用户提供优质服务，努力打造污水处理工程领先者！ </p>
                    </div>
                </div>
                <div id="part4" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_shangli.png">
                    </div>
                    <div class="textCon">
                        <p>浙江尚利建材贸易有限公司是新邦集团旗下的一家企业，拥有独立法人，公司于12年6月份在工商注册，注册资本贰仟万。公司主要职责是确保浙江新邦建设股份有限公司承包的工程能得到可靠的质量保障。公司主营建筑施工钢材，去年内部采购供应额达1.3亿元。</p>
                    </div>
                </div>
                <div id="part5" class="detailCon">
                    <div class="logoCon">
                       温州新邦文化产业有限公司
                    </div>
                    <div class="textCon">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div id="part6" class="detailCon">
                    <div class="logoCon">
                        温州新邦运输有限公司
                    </div>
                    <div class="textCon">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div id="part7" class="detailCon">
                    <div class="logoCon">
                        温州弘邦建材科技有限公司
                    </div>
                    <div class="textCon">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div id="part8" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_hunningtu.png">
                    </div>
                    <div class="textCon">
                        <p>温州华邦混凝土有限公司，原名温州新邦混凝土有限公司，位于温州鹿城轻工特色园区内（温州市鹿城区藤桥镇营上村盛昌路1号），总占地面积70余亩，紧邻渔藤公路与高速仰义出口，交通十分便利。公司可生产商品混凝土，砂浆，混凝土多孔砖，混凝土砖等，混凝土年生产能力100万立方米。</p>
                        <p>公司注册资金2000万元，现已完成投资5000万元。公司设备精良，拥有4条全自动混凝土搅拌生产线，混凝土搅拌车50辆，37米汽车泵2辆，固定拖泵7台及车载泵3辆。公司建立了300平方米的混凝土专项实验室，拥有混凝土质量控制和检测全套仪器设备。 </p>
                        <p>公司实行现代企业制度，不断提高企业管理水平和产品质量。已按GB/T19001∶2000ids;ISO9001∶2000标准建立质量管理体系，推行全面质量管理，并严格按照质量体系文件要求进行运作。公司已取得认证资格，现为预拌商品混凝土专业三级资质。 公司设总经理室、总工室、人事行政部、计划财务部、材料设备部、业务部、生产部、新型墙体材料厂、混凝土专项实验室、调度室、车队、泵队、机务室等部门。</p>
                        <p>公司现有员工200人，其中工程技术人员60人，中级职称以上24人，且具有多年混凝土生产技术和实践经验。各操作岗位人员均通过岗位技能培训，持证上岗，操作技能熟练. 公司将始终遵循“质量第一、用户至上”的经营宗旨，建立并执行严格的生产和质量管理体系，以先进的技术，精良的设备，严格的管理，为客户提供优质的产品和满意周到的优良服务，为创建一流的企业努力拼搏。</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- industry end -->
    </div>
</section>
<!-- content end -->
{% endblock %}
{% block js %}
<script>
    $(function () {
        $(".j_ChangeDetail").delegate("li", "click", function () {
            var target = $(this).data("target");
            $(this).siblings(".active").removeClass("active");
            $(this).addClass("active");
            $(".detailCon").hide();
            $(target).show();
        })
        var target = "{{ target }}";
        if (target != ""){
            $(".j_ChangeDetail>li").siblings(".active").removeClass("active");
            $(".j_ChangeDetail>li[data-target={{ target }}]").addClass("active");
            $(".detailCon").hide();
            $(target).show();
        }
    })
</script>
{% endblock %}