{% extends "base.html" %}
{% block title %}{{ page.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/xinbang/css/industry.css">
{% endblock %}
{% block content %}

<!-- bannerBar begin -->
<section>
    <div id="bannerBar">
    	<img src="{{ page.banner.url }}" width="100%">
    </div>
</section>
<!-- bannerBar end -->

<!-- content begin -->
<section>
    <div id="content">
        <div class="titleBar">
             <div class="breadCrumb">
                <a href="/" target="_self">首页</a>
                &gt;
                <a href="{{ menu.get_root.url }}" target="_self">{{ menu.get_root.name }}</a>
                &gt;
                <a href="{{ menu.name.url }}" target="_self">{{ menu.name }}</a>
            </div>
            <ul class="tabBar">
            	{% for m in menu.get_root.get_children reversed  %}
                <li data="{{ m.id }}">
                    <a href="{{ m.url }}" target="_self" data="{{ m.id }}">{{ m.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- industry begin -->
        <div class="intrCon clearfix">
            <ul class="swithBar j_ChangeDetail">
                <li data-target="#part1">
                    <div class="title">浙江新邦建设股份有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part2">
                    <div class="title">温州新邦置业有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part3">
                    <div class="title">温州市创源水务有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part8">
                    <div class="title">温州华邦混凝土有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part7">
                    <div class="title">温州弘邦建材科技有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part4">
                    <div class="title">浙江尚利建材贸易有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part5">
                    <div class="title">温州新邦文化产业有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part6">
                    <div class="title">温州新邦运输有限公司</div>
                    <div class="arrow"></div>
                </li>
            </ul>
            <div class="detail">
                <div id="part1" class="detailCon" style="display: block">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/xinbangjianshe.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设股份有限公司隶属新邦集团，创建于1985年，具有国家壹级总承包施工资质，是一家对外投资、代建开发、建材销售、环保科技与城市污水处理、文化产业等协同发展的大型企业。公司属全国1000家大型施工企业之一，拥有国际质量、环境、职业健康安全体系认证和对外经营许可证。</p>
                        <p>公司资产总额逾8亿元，除具有国家房屋建筑工程施工总承包壹级资质外，还拥有建筑装修装饰、地基与基础、机电设备安装、钢结构、建筑智能化、园林绿化、建筑消防、市政公用等工程总承包或专业施工资质。</p>
                        <p>公司下辖十余家分支机构，包括新邦置业有限公司、创源水务有限公司、华邦混凝土有限公司、尚利建材有限公司、上海分公司、杭州分公司、台州分公司、河北分公司、江苏分公司、安徽分公司以及装饰分公司、市政分公司、劳务分公司等，包括公司管理层和一线施工项目管理和施工人员，员工近10000余人。拥有各类专业技术职称人员669人，其中高中级以上专业技术职称人员359人，一级注册建造师63人、二级注册建造师89人 。</p>
                        <p>公司按照现代企业模式进行管理和运作，根据“做强主业，做精专业”的企业发展战略，业务涉及十多个大中型城市，独立承揽高层次、大体量、大跨度、高标准、精装潢的建筑施工业务，年完成产值在30亿元之上。</p>
                        <p>公司专业技术力量雄厚，建筑施工设备配套齐全，积极走出去跨省承建工程项目，所施工的工程一次交验合格率保持100%。公司发展战略是：立足温州，面向全国，增强企业实力，加快发展步伐。</p>
                        <p>公司一贯追求卓越的工作、一流的管理、过硬的品质、优良的服务，赢得社会各界的广泛赞誉，公司屡获殊荣。2000年至今共创浙江省“钱江杯”优质工程5项、温州市“瓯江杯”优质工程32项、鹿城区“白鹿杯”优质工程16项、全国用户满意建筑工程2项，并创国家“AAA级安全文明标准化工地”、省级“标化”工地12项、市级“标化”工地53个、县区级“标化”工地57个等多项荣誉称号。多年来连续被评为“浙江省重合同守信用单位AAA企业”、“明星企业”、“先进单位”、“纳税大户”、“浙江省建筑业优秀企业”、“浙江省建筑业先进企业”、“浙江省工程建设用户满意施工企业”、“建筑业十强企业”、“温州市百强企业”、“温州市建筑业龙头骨干企业”、”温州市信誉企业”、“鹿城区功勋企业”“科技创新型企业”、“温州市建设行业企业技术中心”等荣誉称号。</p>
                        <p>面对新的机遇与挑战，新邦人本着“勤则鼎新，和则立邦”的企业精神，力争将企业建设成为一个社会品牌知名度高、具有可持续发展潜力的大型企业。</p>
                    </div>
                </div>
                <div id="part2" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_zhiye.png">
                    </div>
                    <div class="textCon">
                        <p>温州新邦置业有限公司是一家具有综合开发、代建资质的房地产企业，参与开发产品涵盖商业写字楼、酒店式公寓、高端住宅等不同类型。其中：相继参与开发了天瑞尚城、温莎国际公寓、塘下总府壹号、富阳铂金湾等一批优质经典楼盘。负责代建管理的项目有瓯海区娄桥街道玕东村安置房工程、鹿城区上戍乡安置点工程、苍南县龙港镇下涝村村民安置房、龙湾区海滨街道蟾钟村安居工程、瑞安市塘下镇新前村旧村改建项目等，累计代建面积达60多万平方米。</p>
                    </div>
                </div>
                <div id="part3" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_chuangyuan.png">
                    </div>
                    <div class="textCon">
                        <p>温州市创源水务有限公司成立于2008年12月，注册资本5200万元，主要股东是浙江新邦控股集团有限公司。</p>
                        <p>公司主要从事城镇污水收集、处理、排放设施的建设、管理、运营、维护，提供污水处理服务、给排水工程设施咨询、设计、施工及给排水设施供给、安装、运营、技术服务和水处理技术研究、开发、利用。</p>
                        <p>公司于2008年12月中标温州市政府（西片污水处理厂）BOT 特许经营权项目。该项目占地面积70.6亩，设计处理能力为25万m3 /d，分两期建设，其中一期工程设计处理能力为10万m3 /d，建设期为2年，运营期为26年；二期工程设计处理能力为15万m3 /d。主体工艺引进奥地利循环活性污泥法（CAST）专利技术，出水水质达到《城镇污水处理厂污染物排放标准》一级B标准，单位面积污水处理能力为全国首例。项目主要服务范围包括温州市三溪五镇和双屿、仰义、西郊等地区，共七个污水系统，服务面积达50平方公里，服务人口近70万。</p>
                        <p>公司持有《浙江省排污许可证》，先后通过ISO9001：2008质量体系认证、ISO14001：2004环境管理体系认证和GB/T28001—2011职业健康安全管理体系认证等，并被列为温州市污水处理科普教育基地。</p>
                        <p>公司以“净化城市，保护环境”为企业使命，永远秉承“质量为本，技术领先，管理科学，服务专业”的经营方针和“规范、安全、高效、创新”的企业精神，为用户提供优质服务，努力打造污水处理工程领先者！ </p>
                    </div>
                </div>
                <div id="part4" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/group_logo_shangli.png">
                    </div>
                    <div class="textCon">
                        <p>浙江尚利建材贸易有限公司是新邦集团旗下的一家企业，拥有独立法人，公司于12年6月份在工商注册，注册资本贰仟万。公司主要职责是确保浙江新邦建设股份有限公司承包的工程能得到可靠的质量保障。公司主营建筑施工钢材，去年内部采购供应额达1.3亿元。</p>
                    </div>
                </div>
                <div id="part5" class="detailCon">
                    <div class="logoCon">
                       <img src="/static/xinbang/images/group_logo_wenhua.png">
                    </div>
                    <div class="textCon">
                        <p>新邦文化旗下的“面粉厂”创意园，地处温州市鹿城区核心区块，位于江滨路与车站大道交汇口附近，北隔滨江景观带与瓯江相邻，毗邻鹿城广场，远眺江心屿。园区逐步引进国际知名的艺术机构、设计师创意品牌、中西特色餐饮品牌、文化艺术品商店、精品艺术酒店和概念书店等，打造文化创意的新地标及城市慢生活的新商圈，文化创意精英品牌集聚地。</p>
                        <p>新邦文创园项目建筑面积约33000㎡，总投资达3亿元人民币。原厂区的整体布局方正，每栋建筑外形风格独立，建筑内部空间高大宽敞，特别是厂区中央的十座圆形桶仓，更具独特的建筑视觉，这也是温州“面粉厂”主要建筑模块。项目改建特邀请国内知名旅法建筑师方晨光与法国建筑师团队共同操刀设计，极具现代感的建筑，在保护原有工厂的建筑风貌以外，还集中设立雕塑、文化导视、水池景观和公共设施，园区文化导视系统除了行政交通导视外，主要用于文化艺术活动、品牌发布、公益活动，成为城市个性张扬的文化广场。</p>
                    </div>
                </div>
                <div id="part6" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/yunshu.jpg">
                    </div>
                    <div class="textCon">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div id="part7" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/jiancai.jpg">
                    </div>
                    <div class="textCon">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div id="part8" class="detailCon">
                    <div class="logoCon">
                        <img src="/static/xinbang/images/hunningtu.jpg">
                    </div>
                    <div class="textCon">
                        <p>温州华邦混凝土有限公司，原名温州新邦混凝土有限公司，位于温州鹿城轻工特色园区内（温州市鹿城区藤桥镇营上村盛昌路1号），总占地面积70余亩，紧邻渔藤公路与高速仰义出口，交通十分便利。公司可生产商品混凝土，砂浆，混凝土多孔砖，混凝土砖等，混凝土年生产能力100万立方米。</p>
                        <p>公司注册资金2000万元，现已完成投资5000万元。公司设备精良，拥有4条全自动混凝土搅拌生产线，混凝土搅拌车50辆，37米汽车泵2辆，固定拖泵7台及车载泵3辆。公司建立了300平方米的混凝土专项实验室，拥有混凝土质量控制和检测全套仪器设备。 </p>
                        <p>公司实行现代企业制度，不断提高企业管理水平和产品质量。已按GB/T19001∶2000ids;ISO9001∶2000标准建立质量管理体系，推行全面质量管理，并严格按照质量体系文件要求进行运作。公司已取得认证资格，现为预拌商品混凝土专业三级资质。 公司设总经理室、总工室、人事行政部、计划财务部、材料设备部、业务部、生产部、新型墙体材料厂、混凝土专项实验室、调度室、车队、泵队、机务室等部门。</p>
                        <p>公司现有员工200人，其中工程技术人员60人，中级职称以上24人，且具有多年混凝土生产技术和实践经验。各操作岗位人员均通过岗位技能培训，持证上岗，操作技能熟练. 公司将始终遵循“质量第一、用户至上”的经营宗旨，建立并执行严格的生产和质量管理体系，以先进的技术，精良的设备，严格的管理，为客户提供优质的产品和满意周到的优良服务，为创建一流的企业努力拼搏。</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- industry end -->
    </div>
</section>
<!-- content end -->
{% endblock %}
{% block js %}
<script>
    $(function () {
        $(".j_ChangeDetail").delegate("li", "click", function () {
            var target = $(this).data("target");
            $(this).siblings(".active").removeClass("active");
            $(this).addClass("active");
            $(".detailCon").hide();
            $(target).show();
        })
        var target = "{{ target }}";
        if (target != ""){
            $(".j_ChangeDetail>li").siblings(".active").removeClass("active");
            $(".j_ChangeDetail>li[data-target={{ target }}]").addClass("active");
            $(".detailCon").hide();
            $(target).show();
        }
    })
</script>
{% endblock %}