{% extends "base.html" %}
{% block title %}{% page.title %}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/xinbang/css/introduce.css">
{% endblock %}
{% block content %}

<!-- bannerBar begin -->
<section>
    <div id="bannerBar"></div>
</section>
<!-- bannerBar end -->

<!-- content begin -->
<section>
    <div id="content">
        <div class="titleBar">
             <div class="breadCrumb">
                <a href="/" target="_self">首页</a>
                &gt;
                <a href="{{ menu.get_root.url }}" target="_self">{{ menu.get_root.name }}</a>
                &gt;
                <a href="{{ menu.name.url }}" target="_self">{{ menu.name }}</a>
            </div>
            <ul class="tabBar">
            	{% for m in menu.get_root.get_children reversed  %}
                <li data="{{ m.id }}">
                    <a href="{{ m.url }}" target="_self" data="{{ m.id }}">{{ m.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- speech begin -->
        <div class="intrCon clearfix">
            <ul class="swithBar j_ChangeDetail">
                <li data-target="#part1">
                    <div class="title">浙江新邦建设有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part2">
                    <div class="title">温州新邦置业有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part3">
                    <div class="title">温州创源水务有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part4">
                    <div class="title">温州尚利建材有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part5">
                    <div class="title">温州新邦文化产业有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part6">
                    <div class="title">温州新邦运输有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part7">
                    <div class="title">温州弘邦建材科技有限公司</div>
                    <div class="arrow"></div>
                </li>
                <li data-target="#part8">
                    <div class="title">温州华邦混凝土有限公司</div>
                    <div class="arrow"></div>
                </li>
            </ul>
            <div class="detail">
                <div id="part1" class="detailCon" style="display: block">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part2" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part3" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part4" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part5" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part6" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part7" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
                <div id="part8" class="detailCon">
                    <div class="logoCon">
                        <img src="assets/images/group_logo.jpg">
                    </div>
                    <div class="textCon">
                        <p>浙江新邦建设有限公司创建于1985年，前身为温州市华昌建筑安装工程有限公司，注册资金 10380 万元。公司拥有国家房屋建筑工程总承包壹级资质，同时拥有国家商务部境外承包工程及劳务输出资格，专业承包资质覆盖建筑装饰、机电设备安装、市政公用、钢结构、园林绿化、消防、智能化等方面。</p>
                        <p>公司从业人员 10000 余人，各类专业技术职称人员 448 人，其中高中级以上专业技术职称人员 323 人，一级注册建造师 52 人、二级注册建造师 87 人，专业技术力量雄厚，建筑施工设备配套齐全。公司先后通过 ISO9001-2000 质量体系认证、ISO4001 环境管理体系认证和 OHSAS8001 职业健康安全管理体系认证。</p>
                        <p>公司经营本着立足温州、面向全国，秉承“鱼逐水草而居，鸟择良木而栖”的经营理念外拓区域市场。目前已形成了以浙江的杭州和台州、安徽的黄山和宿州、江苏宿迁、河北邯郸等城市为中心的区域市场。年竣工面积超 50 万平方米，施工产值超 13 亿元，共创出钱江杯、浙江省用户满意工程、瓯江杯优质工程等省、市级优质工程达 30 多项，省、市级标化工地称号达 50 多项，被誉为“创优创标化大户”。近年来，公司以承接“高、大、难、新、特”项目为突破口，先后承建了温州东南嘉一国际、温州市解放南路延伸地块安置房东南居住组团、鹿城区人民检察院办公大楼、瑞安塘下温莎国际公寓、瑞安国际名都、苍南龙港国际大酒店、瓯海总部经济园、温州站南商贸城、温州生态园黄屿片 7# 安置房、鹿城区藤桥镇新家园、温州市西片污水处理厂、台州开元名都银河名苑、邯郸东方国际广场、邯郸卓立商务大厦、江苏宿迁中通名仕嘉园等一大批标志性工程。公司有着拓展海外市场，并相继与南非、阿联酋迪拜、越南、特立尼达和多巴哥等多国官方进行了前期谈判、商务考察。为公司下一步实施“走出去”战略奠定了坚实基础。</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- speech end -->
    </div>
</section>
<!-- content end -->
{% endblock %}
{% block js %}
<script>
    $(function () {
        $(".j_ChangeDetail").delegate("li", "click", function () {
            var target = $(this).data("target");
            $(this).siblings(".active").removeClass("active");
            $(this).addClass("active");
            $(".detailCon").hide();
            $(target).show();
        })
    })
</script>
{% endblock %}